extends layout


block content
  if error
   each err in error
     p(class='error')= err.message
   p(class='error') Try Again
  each loan in loans
   form(class='details-page' method='post', id='update-loan', action='/loan/update')
      p
        label Book Tilte
          label= loan.book.title
      p
        label(for='id') ID
          input(id="id", type="integer", name="id", value=`${loan.id}` required readonly="readonly")
      p
        label(for='patron') Patron
          input(id="patron", type="integer", name="patron_id", value=`${loan.patron_id}` required readonly="readonly")
      p
        label(for='title') Loaned On
          p= loan.loaned_on
      p
        label Returned On
          input(value=`${now}` readonly="readonly")
      p
        input(type='submit' value='Return')
